body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    animation: fade-in 1s ease-out;
}

.heading h1 {
    font-size: 32px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.heading p {
    font-size: 16px;
    color: #777;
}

#mealInput {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#mealList {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.mealItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.mealItem:hover {
    transform: scale(1.05);
}

.mealItem img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mealItem div {
    text-align: center;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}